[Unit]
Description=Glass
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/bin/sh -c "cd /home/tami/glass; . .venv/bin/activate; exec python src/controller.py conf.cfg"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
